*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 70px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: gray;
    color: white;
}
nav>.logo{
    color:rgb(51, 251, 224);
    font-size: 36px;
    font-weight: bold
}
nav>.links{
    width:40%;
    display: flex;
    justify-content: space-evenly;
}
nav.links>{
    text-decoration:dashed;
    color: white;

}